<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="TemplateClient.html">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <br>
        <br>
        <h2>List Of Categories</h2>
        <div class="list-group" >
            <br>
            <br>
            <a href="#" class="list-group-item" th:each="cat:${cats_list}">
                <h4 class="list-group-item-heading" th:text="${cat.Name}"></h4>
            </a>
        </div>
    </div>

    <br><br>
</div>


</body>
</html>
