<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="TemplateClient.html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Blog - B5 Template by Bootstrap Temple</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- gLightbox-->
    <link rel="stylesheet" href="../../../vendor/glightbox/css/glightbox.css">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="../../../css/style.default.css" id="theme-stylesheet">
    <!-- gLightbox-->
    <link rel="stylesheet" href="../../../vendor/glightbox/glightbox.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../../css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../../Images/blog_logoo.png">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  </head>
  <body>

  <div layout:fragment="content">

    <!-- Hero Section-->
    <section class="hero position-relative" style="background-image: url(../../../img/hero.jpeg); background-size: cover; background-position: center center">
      <div class="container text-white py-5">
        <div class="row py-lg-5">
          <div class="col-lg-7">
            <h1>Welcome to JouNox: Your Source for Timely News and Insights</h1><a class="link-underline mt-3" href="#!">Discover More</a>
          </div>
        </div><a class="continue text-gray-400 position-absolute bottom-0 mb-5 z-index-20 link-transition small text-uppercase" href="#intro"><i class="fas fa-long-arrow-alt-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Where Stories Come Alive</h2>
            <p class="text-lg fw-light lh-lg mb-0">In a world inundated with information, finding stories that truly captivate can feel like searching for a needle in a haystack. But fear not, fellow explorer, for you've stumbled upon Jounox — your beacon of light in the vast sea of news.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section>
      <div class="container">
        <header class="mb-5">
          <h2>Latest from the blog</h2>
        </header>
        <div class="row gy-4">
          <div class="col-md-4"  th:each="post:${post_list}"><a class="mb-3" th:href="@{ThatPost(id=${post.id})}"><img class="img-fluid" src="../../../img/blog-1.jpg" alt="..."/></a>
            <div class="d-flex align-items-center justify-content-between mb-2" th:text="${post.Created_At}"><small class="text-gray-500" ></small></div>
            <h3 class="h4"><a class="text-dark" href="post.html" th:text="${post.Title}" th:href="@{ThatPost(id=${post.id})}"></a></h3>
            <!--            <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section class="divider" style="background: url(../../../img/divider-bg.jpg); background-size: cover; background-position: center bottom">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-7">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a class="link-underline mt-3" href="#!">View More</a>
          </div>
        </div>
      </div>
    </section> <br><br>
    <!-- Newsletter Section-->
    <section class="pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-lg lh-lg fw-light mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <form action="#">
              <div class="input-group">
                <input class="form-control p-3" type="email" name="email" id="email" placeholder="Type your email address">
                <button class="btn btn-dark" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="p-0">
      <div class="row g-0">
        <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="img/gallery-1.jpg" data-gallery="gallery" data-glightbox="Gallery image 1"><img class="img-fluid" src="../../../img/gallery-1.jpg" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
        <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="img/gallery-2.jpg" data-gallery="gallery" data-glightbox="Gallery image 2"><img class="img-fluid" src="../../../img/gallery-2.jpg" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
        <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="img/gallery-3.jpg" data-gallery="gallery" data-glightbox="Gallery image 3"><img class="img-fluid" src="../../../img/gallery-3.jpg" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
        <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="img/gallery-4.jpg" data-gallery="gallery" data-glightbox="Gallery image 4"><img class="img-fluid" src="../../../img/gallery-4.jpg" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
      </div>
    </section>

  </div>
  </body>
</html>