<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="TemplateClient.html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Blog - B5 Template by Bootstrap Temple</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- gLightbox-->
    <link rel="stylesheet" th:href="@{/vendor/glightbox/css/glightbox.css}">
    <!-- Theme stylesheet-->
    <link rel="stylesheet"th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- gLightbox-->
    <link rel="stylesheet" th:href="@{/vendor/glightbox/glightbox.css}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/images/blog_logoo.png}">

    <style>
      .lead {
        white-space: pre-wrap;
      }
      .img-fluid.w-100.mb-4 {
        height: 300px; /* Set a fixed height */
      }

    </style>
  </head>

  <body>

  <div layout:fragment="content">

    <section class="py-5">
      <div class="container">
        <div class="row gy-5">
          <!-- Latest Posts -->
          <main class="col-lg-8">
            <div class="container">
              <img class="img-fluid w-100 mb-4" th:src="${blogView.Image}" alt="post logo">
              <ul class="list-inline mb-3">
                <li class="list-inline-item"><a class="text-uppercase" th:value="${'Category: ' + blogView.category.name}"></a></li>
              </ul>
              <h1 class="mb-4" th:text="${blogView.Title}"><a href="!#"><i class="fa fa-bookmark-o"></i></a></h1>
              <ul class="list-inline list-separated text-gray-500 mb-5">
                <li class="list-inline-item"><a class="d-flex align-items-center flex-wrap text-reset" href="!#">
                  <div class="avatar flex-shrink-0"><img class="img-fluid" th:src="@{/images/anonymous_icon.png}" alt="...">
                  </div><small>Admin</small></a></li>
                <label>Created At:</label>
                <li class="list-inline-item small" th:text="${blogView.Created_At}"><i class="far fa-clock"></i></li>
                <label>Updated At:</label>
                <li class="list-inline-item small" th:text="${blogView.Updated_At}"><i class="far fa-clock"></i></li>
              </ul>
              <div class="post-body">
                <pre class="lead" th:text="${blogView.Content}"></pre>
                <div class="border-start border-4 mb-3">
                </div>
              </div>
              <div class="mb-5">
                <header>
                  <h3 class="h6 mb-4">The Comments: <span class="fw-light text-gray-600 small ms-2"></span></h3>
                </header>
                <div th:each="comment : ${comments}">
                  <div class="d-flex align-items-start">
                    <img class="img-fluid rounded-circle flex-shrink-0" src="/img/user.svg" alt="User" width="50"/>
                    <div class="pb-4 ms-3 border-bottom mb-4">
                      <strong th:text="${comment.user.username}">User Name</strong>  <p class="small text-gray-500" th:text="${comment.createdAt}">May 2016</p>
                      <p class="mb-0 text-sm" th:text="${comment.content}">Comment Content</p>

                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-5">
                <header>
                  <h3 class="h6 mb-4">Leave a reply</h3>
                </header>
                <form th:action="@{SaveComment(id=${blogView.Id})}"  method="post">
                  <div class="row gy-3">
                    <div hidden="hidden" class="col-md-6">
                      <div hidden="hidden" class="border-bottom">
                        <input hidden="hidden" class="form-control px-0 border-0 shadow-0" type="text" name="blogPost" id="blogPost" th:value="${blogView.Id}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="border-bottom">
                        <input readonly class="form-control px-0 border-0 shadow-0" type="text" name="username" id="username" th:value="${#authentication.name}">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="border-bottom">
                        <textarea class="form-control px-0 border-0 shadow-0" rows="5" name="content" id="usercomment" placeholder="Type your comment"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button sec:authorize="isAuthenticated()" class="btn btn-secondary" type="submit">Submit Comment</button>
                    </div>
                    <div class="col-md-12">
                      <p sec:authorize="!isAuthenticated()" >Please login to submit a comment.</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </main>
          <aside class="col-lg-4">
            <!-- Widget [Categories Widget]-->
            <!--            <div class="card mb-5">-->
            <!--              <div class="card-body">-->
            <!--                <h3 class="h6 mb-3">Categories</h3>-->
            <!--                <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"><a class="text-reset" href="!#">Growth</a><span>12</span></div>-->
            <!--                <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"><a class="text-reset" href="!#">Local</a><span>25</span></div>-->
            <!--                <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"><a class="text-reset" href="!#">Sales</a><span>8</span></div>-->
            <!--                <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"><a class="text-reset" href="!#">Tips</a><span>17</span></div>-->
            <!--                <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"><a class="text-reset" href="!#">Local</a><span>25</span></div>-->
            <!--              </div>-->
            <!--            </div>-->
          </aside>
        </div>
      </div>
    </section>
  </div>


  </body>
</html>